.margin-article{
    margin-top: 70px;

    .card-btn{
        width: 200px;
        font-size: 12px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid #e95a0c;
        color: #e95a0c;
        &:hover{
            background-color: #e95a0c;
            color: #fff;
        }
       
        a{
    
            text-decoration: none;
        }
        
    }

 
    
    .card-pic{
    
        position: relative;
    }
    
    .card-opacity-div{
        width: 100%;
        height: 75px;
        opacity: 0.5;
        background-color: #b88428;
        position: absolute;
        bottom: 210px;
    
    
    }

    .card-opacity-div1{

        background-color: #494e52;
    }
    
    .paragraph-opacity{
        font-weight: bold;
        font-size: 18px;
        align-self: center;
        color: #fff;
        position: absolute;
        top: 320px;
       
        
    }
    
    
    .fa-check{
        color: #e95a0c;
    }
    
    .btnn-2{
        width: 200px;
        padding: 10px;
        background-color: #e95a0c;
        font-size: 12px;
        

       
    
    
    }

    .margin-article-last{
        margin-top: 110px;
        margin-bottom: 110px;

        .p-mt{

            margin-top: 30px;
          
            
        }
        
    }
}


@include media-breakpoint-up(md){
    .margin-article{
        margin-top: 70px;
    
        .card-btn{
            width: 200px;
            padding: 15px;
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #e95a0c;
            &:hover{
                background-color: #e95a0c;
                color: #fff;
            }
           
            a{
        
                text-decoration: none;
            }
            
        }
        
        .card-pic{
        
            position: relative;
        }
        
        .card-opacity-div{
            width: 100%;
            height: 105px;
            opacity: 0.5;
            background-color: #b88428;
            position: absolute;
            bottom: 195px;
        
        
        }

        .card-opacity-div1{

            background-color: #494e52;
        }
        
        .paragraph-opacity{
            font-weight: bold;
            font-size: 22px;
            align-self: center;
            color: #fff;
            position: absolute;
            top: 435px;
           
            
        }
        
        
        .fa-check{
            color: #e95a0c;
        }
        
        .btnn-2{
            width: 220px;
            padding: 10px;
            background-color: #e95a0c;
            font-size: 14px;
        
        
        
        }
    
        .margin-article-last{
            margin-top: 110px;
            margin-bottom: 110px;

            .p-mt{

                margin-top: 30px;
                margin-left: 50px;
                
            }

            .p-size{
                font-size: 14px;
            }

            
        }
    }
}






@include media-breakpoint-up(lg){

    .margin-article{
        margin-top: 70px;
    
        .card-btn{
            width: 180px;
            padding: 10px;
            font-size: 16px;
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #e95a0c;
            &:hover{
                background-color: #e95a0c;
                color: #fff;
            }
           
            a{
        
                text-decoration: none;
              
            }
            
        }
        
        .card-pic{
        
            position: relative;
        }
        
        .card-opacity-div{
            width: 100%;
            height: 50px;
            opacity: 0.5;
            background-color: #b88428;
            position: absolute;
            bottom: 288px;
        
        
        }
        
        .paragraph-opacity{
            font-weight: bold;
            align-self: center;
            color: #fff;
            font-size: 18px;
            position: absolute;
            top: 180px;
           
            
        }

        .card-opacity-div1{

            background-color: #494e52;
        }
        
        
        .fa-check{
            color: #e95a0c;
        }
        
        .btnn-2{
            width: 220px;
            padding: 10px;
            background-color: #e95a0c;
        
        
        }
    
        .margin-article-last{
            margin-top: 110px;
            margin-bottom: 110px;

            .p-mt{

                margin-top: auto;
                margin-left: auto;
                
            }

            .p-size{

                font-size: 16px;
            }
        }
    }
}


@include media-breakpoint-up(xl){

    .margin-article{
        margin-top: 70px;
    
        .card-btn{
            width: 250px;
            font-size: 18px;
            padding: 10px;
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #e95a0c;
            &:hover{
                background-color: #e95a0c;
                color: #fff;
            }
           
            a{
        
                text-decoration: none;

                
            }
            
        }

        .card-btn1{

           border: 2px solid #494e52;
            color: #494e52;
            
            &:hover{
                background-color: #e95a0c;
                color: #fff;
                border: 2px solid #e95a0c;
            }
          
        }
        
       .card-pic{
        
          position: relative;
     }

      
        
        .card-opacity-div{
            width: 100%;
            height: 50px;
            opacity: 0.8;
            background-color: #b88428;
            position: absolute;
            bottom: 50%;
            transform: translateY();

        }

        .card-opacity-div1{

            background-color: #494e52;

            &:hover{
                background-color: #b88428;
            }
        }
        
        .paragraph-opacity{
            font-weight: bold;
            font-size: 18px;
            align-self: center;
            color: #fff;
            position: absolute;
            top: 220px;
           
            
        }

        .card-body{
            background-color: #eeeef0;
        }
        
        
        .fa-check{
            color: #e95a0c;
        }
        
        .btnn-2{
            width: 220px;
            padding: 10px;
            background-color: #e95a0c;
            text-align: center;
            border: none;

         
            
            &::focus{
                outline-offset: 2px;
                outline: 2px solid #000 ;
            }
        }
    
        .margin-article-last{
            margin-top: 110px;
            margin-bottom: 110px;

            .p-mt{

                margin-top: auto;
                margin-left: auto;
                
            }

            .p-size{

                font-size: 18px;
            }
        }
    }
}



