.margin-article{
    margin-top: 70px;

    .card-btn{
        width: 200px;
        font-size: 12px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid #e95a0c;
        color: #e95a0c;
        &:hover{
            background-color: #e95a0c;
            color: #fff;
        }
       
        a{
    
            text-decoration: none;
        }
        
    }

 
    
    .card-pic{
    
        position: relative;
    }
    
    
    
    
    .fa-check{
        color: #e95a0c;
    }
    
    .btnn-2{
        width: 200px;
        padding: 10px;
        background-color: #e95a0c;
        font-size: 12px;
        

       
    
    
    }

    .margin-article-last{
        margin-top: 110px;
        margin-bottom: 110px;

        .p-mt{

            margin-top: 30px;
          
            
        }
        
    }
}


@include media-breakpoint-up(md){
    .margin-article{
        margin-top: 70px;
    
        .card-btn{
            width: 200px;
            padding: 15px;
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #e95a0c;
            &:hover{
                background-color: #e95a0c;
                color: #fff;
            }
           
            a{
        
                text-decoration: none;
            }
            
        }
        
        .card-pic{
        
            position: relative;
        }
        
     
        
        
        .fa-check{
            color: #e95a0c;
        }
        
        .btnn-2{
            width: 220px;
            padding: 8px;
            background-color: #e95a0c;
            font-size: 14px;
        
        
        
        }
    
        .margin-article-last{
            margin-top: 110px;
            margin-bottom: 110px;

            .p-mt{

                margin-top: 30px;
                margin-left: 50px;
                
            }

            .p-size{
                font-size: 14px;
            }

            
        }
    }
}






@include media-breakpoint-up(lg){

    .margin-article{
        margin-top: 70px;
    
        .card-btn{
            width: 180px;
            padding: 10px;
            font-size: 16px;
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #e95a0c;
            &:hover{
                background-color: #e95a0c;
                color: #fff;
            }
           
            a{
        
                text-decoration: none;
              
            }
            
        }
        
        .card-pic{
        
            position: relative;
        }
        
       
      
        
        .fa-check{
            color: #e95a0c;
        }
        
        .btnn-2{
            width: 220px;
            padding: 8px;
            background-color: #e95a0c;
        
        
        }
    
        .margin-article-last{
            margin-top: 110px;
            margin-bottom: 110px;

            .p-mt{

                margin-top: 0;
                margin-left: auto;
                
            }

            .p-size{

                font-size: 14px;
            }
        }
    }
}


@include media-breakpoint-up(xl){

    .margin-article{
        margin-top: 70px;
    
        .card-btn{
            width: 250px;
            font-size: 18px;
            padding: 10px;
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #e95a0c;
            &:hover{
                background-color: #e95a0c;
                color: #fff;
            }
           
            a{
        
                text-decoration: none;

                
            }
            
        }

        .card-btn1{

           border: 2px solid #494e52;
            color: #494e52;
            
            &:hover{
                background-color: #e95a0c;
                color: #fff;
                border: 2px solid #e95a0c;
            }
          
        }
        
       .card-background{
        
          position: relative;
          height: 30vh;
          z-index: 1;
          &::before{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url("../img/retrovizor.jpg")  no-repeat center center /cover;
            content: '';
            z-index: -1;
          }
     }

     .card-background1{

        position: relative;
        height: 30vh;
        z-index: 1;
        &::before{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: url("../img/original-1.jpg")  no-repeat center center /cover;
          content: '';
          z-index: -1;
        }

     }

     .card-background2{

        position: relative;
        height: 30vh;
        z-index: 1;
        &::before{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: url("../img/legs-dashboard.jpg")  no-repeat center center /cover;
          content: '';
          z-index: -1;
        }

     }
    
   
        
   

        

      
        
       
        .card-body{
            background-color: #eeeef0;
        }
        
        
        .fa-check{
            color: #e95a0c;
        }
        
        .btnn-2{
            width: 220px;
            padding: 8px;
            background-color: #e95a0c;
             text-align: center;

         
            
            
        }
    
        .margin-article-last{
            margin-top: 110px;
            margin-bottom: 110px;

            .p-mt{
                margin-top: 0;
                margin-left: auto;
                
            }

            .p-size{

                font-size: 16px;
            }
        }
    }
}






