


.row-footer{
    border-bottom: 1px solid #cccccc;

    .navbar-brand1{

        width: 120px;
        opacity: 0.5;
    }

  
}

.icons{
    font-size: 24px;

}

.last-footer{

    display: inline;
}