.image-car{
    position: relative;
}

.heading{
    position: absolute;
    top: 200px;
    left: 80px;

    .header-button{
        background-color: orange;
        color: white;
        width: 250px;
        padding: 10px;
        text-align: center;
        border: none;

        .header-shape1{
            margin-left: 10px;
            font-size: 20px;
        }

    }

    a{
        text-decoration: none;
    }

    .header-credit{
        color: gray;
    }
}


@include media-breakpoint-down(md){

    .image-car{
        position: relative;
        margin-top: 100px;
    }
    
    .heading{
        position: absolute;
        top: 200px;
        left: 80px;

        .h1-size{
            font-size: 20px;
        }

        .header-button{
            background-color: orange;
            color: white;
            width: 200px;
            padding: 10px;
            text-align: center;

            .header-a-size{
                font-size: 14px;
            }
    
            .header-shape1{
                margin-left: 5px;
                font-size: 18px;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            display: none;
        }
    }

}

@include media-breakpoint-up(lg){
    .image-car{
        position: relative;
        margin-top: 100px;
    }
    
    .heading{
        position: absolute;
        top: 200px;
        left: 80px;

        .h1-size{
            font-size: 30px;
        }

        .header-button{
            background-color: orange;
            color: white;
            width: 225px;
            padding: 10px;
            text-align: center;
    
            .header-shape1{
                margin-left: 5px;
                font-size: 18px;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            color: gray;
        }
    }
}

@include media-breakpoint-up(xl){

    .image-car{
        position: relative;
        margin-top: 100px;
    }
    
    .heading{
        position: absolute;
        top: 250px;
        left: 150px;

        .header-button{
            background-color: orange;
            color: white;
            width: 250px;
            padding: 10px;
            text-align: center;
            border: none;
    
            .header-shape1{
                margin-left: 10px;
                font-size: 20px;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            color: gray;
        }
    }
    
}
  
    


