
    .probicabre{

   
    .heading{
      
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 100vh;
        background-color: #000000;
        &::before{
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            
            background-image: url('../img/clock4.jpg');
        background-size: cover;
        background-position: top center;
        opacity: 0.30;
        }

        .proba{

            margin-top: 7rem;
        }
        
        .header-container-1{

            margin-left: 50px;
        }

        .header-pic{
            display: none;
        }

        .header-button{
            background-color: #e95a0c;
            color: white;
            width: 250px;
            padding: 10px;
            text-align: center;
            border: none;
          
    
            .header-shape1{
                margin-left: 10px;
                font-size: 20px;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            font-size: 12px;
            color: gray;
        }
    }
    
}

@include media-breakpoint-up(sm){

    .heading{
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 100vh;
        background-color: #000000;
        &::before{
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            
            background-image: url('../img/clock4.jpg');
        background-size: cover;
        background-position: top center;
        opacity: 0.30;
        }

        .proba{

            margin-top: 5.5rem;
            
        }

        h1{
            font-size: 14px;
        }
        
        .header-container-1{

            margin-left: 50px;
        }

        .header-pic{
            margin-top: 1rem;
            display: block;
            
        }

        .header-button{
            background-color: #e95a0c;
            color: white;
            font-size: 8px;
            width: 150px;
            padding: 8px;
            text-align: center;
            border: none;
          
    
            .header-shape1{
                margin-left: 10px;
                font-size: 15px;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            font-size: 10px;
            color: gray;
        }
    }
    
}
  


@include media-breakpoint-up(md){

    .heading{
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 100vh;
        background-color: #000000;
        &::before{
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            
            background-image: url('../img/clock4.jpg');
        background-size: cover;
        background-position: top center;
        opacity: 0.30;
        }

       
        .navbar{
            transition: 0.5s all ease-in-out;
           
            a{
                color: #ffffff;
                text-transform: uppercase;
                &:hover{
                    color: #dddddd;
                }
            }

        }


        .addNavigation{
            padding: 5px 100px;
            background-color: blue;
            color: #000;
           
        }

      

        h1{
            font-size: 16px;
        }
        
        
        .header-pic{
            display: block;
        }

        .header-container-1{

            margin-left: 50px;
        }

        .header-button{
            background-color: #e95a0c;
            color: white;
            font-size: 10px;
            width: 180px;
            padding: 8px;
            text-align: center;
            border: none;
          
    
            .header-shape1{
                margin-left: 10px;
                font-size: 16px;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            font-size: 12px;
            color: gray;
        }
    }
    
}
  
    




@include media-breakpoint-up(lg){

    .heading{
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 100vh;
        background-color: #000000;
        &::before{
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            
            background-image: url('../img/clock4.jpg');
        background-size: cover;
        background-position: top center;
        opacity: 0.30;
        }

        
        .navbar{
            transition: 0.5s all ease-in-out;
           
            a{
                color: #ffffff;
                text-transform: uppercase;
                &:hover{
                    color: #dddddd;
                }
            }

        }


        .addNavigation{
            padding: 5px 100px;
            background-color: blue;
            color: #000;
           
        }

      
        
       h1{
           font-size: 22px;
       }

       
       .header-pic{
        display: block;
    }
        .header-button{
            background-color: #e95a0c;
            color: white;
            font-size: 14px;
            width: 200px;
            padding: 8px;
            text-align: center;
            border: none;
          
    
            .header-shape1{
                margin-left: 10px;
                font-size: 18px;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            font-size: 14px;
            color: gray;
        }
    }
    
}
  
    



@include media-breakpoint-up(xl){

    .heading{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 100vh;
        background-color: #000000;
        &::before{
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            
            background-image: url('../img/clock4.jpg');
        background-size: cover;
        background-position: top center;
        opacity: 0.30;
        }

        .navbar{
            transition: 0.5s all ease-in-out;
           
            a{
                color: #ffffff;
                text-transform: uppercase;
                &:hover{
                    color: #dddddd;
                }
            }

        }


        .addNavigation{

            padding: 5px 100px;
            height: 70px;
            background-color: #584b4f;
            color: #000;
           
        }

        
        h1{
            position: relative;
            font-size: 28px;
        }

        
        .header-pic{
            display: block;
        }

        .header-button{
            background-color: #e95a0c;
            color: white;
            width: 250px;
            padding: 10px;
            text-align: center;
            // border-color: #e95a0c ;
            transition: 0.3s ease-in-out;
          
    
            .header-shape1{
                margin-left: 10px;
                font-size: 20px;
            }

            &:hover{
                background-color: transparent;
                color: #ffffff;
                border: 1px solid #ffffff;
            }

        }
    
        a{
            text-decoration: none;
        }
    
        .header-credit{
            font-size: 16px;
            color: gray;
        }
    }

    
    
}
  
a:focus{
    color: #000000;
}


.normalText{
    transition: 0.6s all ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

.konj{
    transform: translateY(0px);
    opacity: 1;
    
}