.testimonials-img-bg {
    position: relative;
    height: 80vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;


    &::before{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
    }

    .main-blanket{
        
        width: 100%;
        height: 80%;
        opacity: 0.98;
        background-color: #21212d;

        .opacity-header{
    
            width: 100%;
            height: 80px;
            font-size: 18px;
            background-color: #e95a0c;
            z-index: 1;
        
            .title-last{

                font-size: 8px;
                

                .btn-last{
                
                    width: 100px;
                    color: #e95a0c;
                    font-size: 10px;
                    padding: 5px;
                    margin-top: 5px;
                    border: 1px solid #ffffff;
                    margin-left: 10px;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        }

        .slider{

            margin-top: 20px;
        }
       
        .img-radius{
            border-radius: 50%;
            border: 2px solid #ffffff;
            width: 80px;
        
        }

        .padding-p{
            font-size: 12px;
            margin-top: 50px;
            padding-left: 50px;
            padding-right:  50px;
        }

        .padding-small{
            font-size: 14px;
            margin: 0;
        }

        .padd-row{
            margin-top: 120px;

            .img-radius{
                border-radius: 50%;
                border: 5px solid #ffffff;
                
            }

        }

       
            z-index: 1;
            color: #ffffff;
            margin-top: 130px;
    
            .p-last{
                font-size: 12px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 8px;
            }
        
    }
 }



@include media-breakpoint-up(sm){
    .testimonials-img-bg {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;


    &::before{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
    }

    .main-blanket{
        
        width: 100%;
        height: 80%;
        opacity: 0.98;
        background-color: #21212d;

        .opacity-header{
    
            width: 100%;
            height: 80px;
            font-size: 18px;
            background-color: #e95a0c;
            z-index: 1;
        
            .title-last{

                font-size: 12px;

                .btn-last{
                
                    width: 120px;
                    color: #e95a0c;
                    font-size: 12px;
                    padding: 8px;
                    margin-top: 5px;
                    margin-left: 20px;

                    border: 1px solid #ffffff;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        }

        .slider{

            margin-top: 30px;
        }
       
        .img-radius{
            border-radius: 50%;
            border: 2px solid #ffffff;
            width: 100px;
        
        }

        .padding-p{
            font-size: 16px;
            margin-top: 50px;
            padding-left: 200px;
            padding-right: 200px;
        }

        .padding-small{
            font-size: 14px;
            margin: 0;
        }

        .padd-row{
            margin-top: 120px;

            .img-radius{
                border-radius: 50%;
                border: 5px solid #ffffff;
            }

      
        }


            z-index: 1;
            color: #ffffff;
            margin-top: 130px;
    
            .p-last{
                font-size: 12px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 8px;
            }
        
    }
 }
}

@include media-breakpoint-up(md){

    .testimonials-img-bg {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;


    &::before{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
    }

    .main-blanket{
        width: 100%;
        height: 80%;
        opacity: 0.98;
        background-color: #21212d;

        .opacity-header{
            
            width: 100%;
            height: 80px;
            background-color: #e95a0c;
            z-index: 1;

            .title-last{

                font-size: 14px;

                .btn-last{
                
                    width: 140px;
                    color: #e95a0c;
                    font-size: 14px;
                    padding: 8px;
                    margin-left: 15px;
                    margin-top: 2px;
                    border: 1px solid #ffffff;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        }

        .slider{

            margin-top: 10px;
        }
        
        .img-radius{
            border-radius: 50%;
            border: 2px solid #ffffff;
            width: 120px;
        
        }

        .padding-p{
            font-size: 20px;
            margin-top: 30px;
            padding-left: 250px;
            padding-right: 250px;
        }

        .padding-small{
            font-size: 14px;
            margin: 0;
        }

        .padd-row{
            margin-top: 150px;

            .img-radius{
                border-radius: 50%;
                border: 2px solid #ffffff;
            }

        }

    
            z-index: 1;
            color: #ffffff;
            margin-top: 80px;
    
            .p-last{
                font-size: 14px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 8px;
            }
        
    }
    
    }

}

@include media-breakpoint-up(lg){
    .testimonials-img-bg {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;


    &::before{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
    }

    .main-blanket{
        width: 100%;
        height: 80%;
        opacity: 0.98;
        background-color: #21212d;

        .opacity-header{
            
            width: 100%;
            height: 80px;
            background-color: #e95a0c;
            z-index: 1;

            .title-last{

                font-size: 14px;

                .btn-last{
                
                    width: 140px;
                    color: #e95a0c;
                    font-size: 14px;
                    padding: 8px;
                    margin-left: 15px;
                    margin-top: 2px;
                    border: 1px solid #ffffff;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        }

        .slider{

            margin-top: 50px;
        }
        
        .img-radius{
            border-radius: 50%;
            border: 2px solid #ffffff;
            width: 120px;
        
        }

        .padding-p{
            font-size: 20px;
            margin-top: 30px;
            padding-left: 250px;
            padding-right: 250px;
        }

        .padding-small{
            font-size: 14px;
            margin: 0;
        }

        .padd-row{
            margin-top: 150px;

            .img-radius{
                border-radius: 50%;
                border: 2px solid #ffffff;
            }

        }

    
            z-index: 1;
            color: #ffffff;
            margin-top: 80px;
    
            .p-last{
                font-size: 14px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 8px;
            }
        
    }
    
    }

}

@include media-breakpoint-up(xl){

    .testimonials-img-bg {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;
    

    &::before{
        position: absolute;
        top: 0;
        right: 0;
       
        left: 0;
        height: 80%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
        
    }
   

    .main-blanket{
        
        width: 100%;
        height: 80%;
        opacity: 0.98;
        background-color: #21212d;
      
    
        .opacity-header{
    
            width: 100%;
            height: 80px;
            background-color: #e95a0c;
            z-index: 1;
        
            .title-last{

                font-size: 18px;
                color: #ffffff;

                .btn-last{
                
                    width: 200px;
                    color: #e95a0c;
                    font-size: 18px;
                    padding: 10px;
                    margin-left: 15px;
                    border: 1px solid #ffffff;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        }

        .slider{

            margin-top: 50px;
        }
         
           
            .img-radius{
                border-radius: 50%;
                border: 2px solid #ffffff;
                width: 140px;
            
            }

            .padding-p{
                font-size: 20px;
                margin-top: 50px;
                padding-left: 250px;
                padding-right: 250px;
            }

            .padding-small{
                font-size: 14px;
                margin: 0;
            }

            z-index: 1;
            color: #ffffff;
            margin-top: 120px;
    
            .p-last{
                font-size: 10px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 12px;
            }
         
    
        }
    }
}

.lines{
    .line1{
        width: 10%;
         height: 2px;
         background: #000000;
         border-radius: 5px;
     }
 
 .line2{
     width: 20%;
     height: 2px;
     background: #000000;
     margin: 10px;
     border-radius: 5px;
 }
}


