    main {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;


    &::before{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
    }

    .laganica{
        
        width: 100%;
        height: 100%;
        opacity: 0.98;
        background-color: #21212d;

        .opacity-header{
    
            width: 100%;
            height: 80px;
            font-size: 18px;
            background-color: #e95a0c;
            z-index: 1;
        
            .title-last{

                font-size: 12px;

                .btn-last{
                
                    width: 120px;
                    color: #e95a0c;
                    font-size: 12px;
                    padding: 10px;
                    margin-left: 15px;
                    border: 1px solid #ffffff;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        }

        .padd-row{
            //padding: 200px;
            margin-top: 120px;

            .img-radius{
                border-radius: 50%;
                border: 5px solid #ffffff;
            }

            .img1{
                margin-right: 0;
                width: 80px;
            }

            .img2{
                width: 100px;
            }

            .img3{
                margin-left: 0;
                width: 80px;
            }
        }

        .row-last{
            z-index: 1;
            color: #ffffff;
            margin-top: 130px;
    
            .p-last{
                font-size: 12px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 8px;
            }
        }
    }
}

@include media-breakpoint-up(md){
    main {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;


    &::before{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
    }

    .laganica{
        width: 100%;
        height: 100%;
        opacity: 0.98;
        background-color: #21212d;

        .opacity-header{
            
            width: 100%;
            height: 80px;
            background-color: #e95a0c;
            z-index: 1;

            .title-last{

                font-size: 14px;

                .btn-last{
                
                    width: 150px;
                    color: #e95a0c;
                    font-size: 14px;
                    padding: 10px;
                    margin-left: 15px;
                    border: 1px solid #ffffff;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        
         
        }

        .padd-row{
            margin-top: 150px;

            .img-radius{
                border-radius: 50%;
                border: 2px solid #ffffff;
            }

            .img1{
                margin-right: 0;
                width: 80px;
            }

            .img2{
                width: 120px;
            }

            .img3{
                margin-left: 0;
                width: 80px;
            }
        }

        .row-last{
            z-index: 1;
            color: #ffffff;
            margin-top: 80px;
    
            .p-last{
                font-size: 14px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 8px;
            }
        }
    }
    
    }

}

@include media-breakpoint-up(xl){

    main {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;
    

    &::before{
        position: absolute;
        top: 0;
        right: 0;
       
        left: 0;
        height: 100%;
        width: 100%;
        background: url("../img/mercedes-benz.jpg")  no-repeat center center /cover;
        content: '';
        z-index: -1;
        
    }

    .laganica{
        
        width: 100%;
        height: 100%;
        opacity: 0.98;
        background-color: #21212d;
        

        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            border: 1px solid #ffffff;
            background: #fff;
            clip-path: polygon(100% 50%,0 100%,100% 100%);
        }

        .opacity-header{
    
            width: 100%;
            height: 80px;
            background-color: #e95a0c;
            z-index: 1;
        
            .title-last{

                font-size: 18px;
                color: #ffffff;

                .btn-last{
                
                    width: 200px;
                    color: #e95a0c;
                    font-size: 18px;
                    padding: 10px;
                    margin-left: 15px;
                    border: 1px solid #ffffff;
    
                    &:hover{
                        background-color: #e95a0c;
                        color: #ffffff;
                        
                    }
        
            
                }
            }
        }

        .padd-row{
            
            margin-top: 150px;

            .img-radius{
                border-radius: 50%;
                border: 2px solid #ffffff;
            }

            .img1{
                margin-right: 0;
                width: 100px;
            }

            .img2{
                width: 140px;
            }

            .img3{
                margin-left: 0;
                width: 100px;
            }
        }

        .row-last{
            z-index: 1;
            color: #ffffff;
            margin-top: 120px;
    
            .p-last{
                font-size: 20px;
                line-height: 1.5;
            }

            .txt-small{
                font-size: 12px;
            }
        }
    }
  }
}

.lines{
    margin-top: 150px;

    .line1{
        width: 10%;
         height: 2px;
         background: #000000;
         border-radius: 5px;
     }
 
 .line2{
     width: 20%;
     height: 2px;
     background: #000000;
     margin: 10px;
     border-radius: 5px;
 }

}


