
.section{
    margin-top: 150px;

    .margin-section{

        margin-top: 60px;
    }


    .lines{
        margin-top: 80px;
    
        .line1{
            width: 10%;
             height: 2px;
             background: #000000;
             border-radius: 5px;
         }
     
     .line2{
         width: 20%;
         height: 2px;
         background: #000000;
         margin: 10px;
         border-radius: 5px;
     }
    }
    
    .circle1{
        position: relative;
        width: 150px;
        height: 150px;
        background-color: gray;
        border-radius: 50%;
        
    }
    
    .circle-sign{
        font-size: 60px;
       color: #ffffff;
       
    }
    
    .sign1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .sign2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .sign3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .btn-2{
        width: 200px;
        padding: 10px;
        background-color: #e95a0c;
        border: none;
        color: rgb(224, 219, 219);
    
        &:hover{
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #000000;
        }
    }
 }



@include media-breakpoint-up(sm){
.section{
    margin-top: 150px;

    .margin-section{

        margin-top: 60px;
    }


    .lines{
        margin-top: 80px;
    
        .line1{
            width: 10%;
             height: 2px;
             background: #000000;
             border-radius: 5px;
         }
     
     .line2{
         width: 20%;
         height: 2px;
         background: #000000;
         margin: 10px;
         border-radius: 5px;
     }
    }
    
    .circle1{
        position: relative;
        width: 150px;
        height: 150px;
        background-color: gray;
        border-radius: 50%;
        
    }
    
    .circle-sign{
        font-size: 60px;
       color: #ffffff;
       
    }
    
    .sign1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .sign2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .sign3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .btn-2{
        width: 200px;
        padding: 10px;
        background-color: #e95a0c;
        border: none;
        color: rgb(224, 219, 219);
    
        &:hover{
            background-color: transparent;
            border: 2px solid #e95a0c;
            color: #000000;
        }
    }
 }
}
@include media-breakpoint-up(md){

    .section{
        margin-top: 150px;
    
        .margin-section{
    
            margin-top: 60px;
        }
    
    
        .lines{
            margin-top: 80px;
        
            .line1{
                width: 10%;
                 height: 2px;
                 background: #000000;
                 border-radius: 5px;
             }
         
         .line2{
             width: 20%;
             height: 2px;
             background: #000000;
             margin: 10px;
             border-radius: 5px;
         }
        }
        
        .circle1{
            position: relative;
            width: 180px;
            height: 180px;
            background-color: gray;
            border-radius: 50%;
            
        }
        
        .circle-sign{
            font-size: 80px;
           color: #ffffff;
           
        }
        
        .sign1{
            position: absolute;
            top: 50%;
             left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .sign2{
            position: absolute;
            top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
        }
        
        .sign3{
            position: absolute;
            top: 50%;
            left: 50%;
             transform: translate(-50%, -50%);
        }
        
        .btn-2{
            width: 200px;
            padding: 10px;
            background-color: #e95a0c;
            border: none;
            color: rgb(224, 219, 219);
        
            &:hover{
                background-color: transparent;
                border: 2px solid #e95a0c;
                color: #000000;
            }
        }
    
    
    }


}

@include media-breakpoint-up(lg){

    
    .section{
        margin-top: 150px;
    
        .margin-section{
    
            margin-top: 60px;
        }
    
    
        .lines{
            margin-top: 80px;
        
            .line1{
                width: 10%;
                 height: 2px;
                 background: #000000;
                 border-radius: 5px;
             }
         
         .line2{
             width: 20%;
             height: 2px;
             background: #000000;
             margin: 10px;
             border-radius: 5px;
         }
        }
        
        .circle1{
            position: relative;
            width: 200px;
            height: 200px;
            background-color: gray;
            border-radius: 50%;
            
        }
        
        .circle-sign{
            font-size: 100px;
           color: #ffffff;
           
        }
        
        .sign1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .sign2{
            position: absolute;
            top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        
        .sign3{
            position: absolute;
            top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        
        .btn-2{
            width: 200px;
            padding: 10px;
            background-color: #e95a0c;
            border: none;
            color: rgb(224, 219, 219);
        
            &:hover{
                background-color: transparent;
                border: 2px solid #e95a0c;
                color: #000000;
            }
        }
    
    
    }
}

@include media-breakpoint-up(xl){

    .section{
        margin-top: 150px;
    
        .margin-section{
    
           margin-top: 60px;
        }
    
    
        .lines{
            margin-top: 80px;
        
            .line1{
                width: 10%;
                 height: 2px;
                 background: #000000;
                 border-radius: 5px;
             }
         
         .line2{
             width: 20%;
             height: 2px;
             background: #000000;
             margin: 10px;
             border-radius: 5px;
         }
        }
        
        .circle1{
            position: relative;
            width: 200px;
            height: 200px;
            background-color: gray;
            border-radius: 50%;
            
        }
        
        .circle-sign{
            font-size: 100px;
           color: #ffffff;
           
        }
        
        .sign1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .sign2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .sign3{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .btn-2{
            width: 200px;
            padding: 10px;
            background-color: #e95a0c;
            border: none;
            color: rgb(224, 219, 219);
        
            &:hover{
                background-color: transparent;
                border: 2px solid #e95a0c;
                color: #000000;
            }
        }
    
    
    }


}